<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Entertain Me</title>
    <link rel="shortcut icon" href="favicon.png"/>

    <!-- Entertain Me CSS start -->
    <link rel="stylesheet" href="app.css">
    <!-- Entertain Me CSS end-->
</head>

<body>
<div ng-app="entertain-me" ng-controller="VenuesController">
    <input type="text" class="geolocation-autocomplete" gm-places-autocomplete ng-model="geolocationAutocomplete">
    <div ng-cloak ng-repeat="venue in venues">
        <span>{{venue.name}}</span>
        <span ng-repeat="category in venue.categories">{{category.name}}</span>
    </div>
</div>

<!-- CDN Angular JS 1.5.11 -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.js"></script>
<!-- CDN Google Maps API  and Angular JS Google Maps adapter -->
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
<script src="https://jvandemo.github.io/angularjs-google-maps/dist/angularjs-google-maps.js"></script>

<!-- Entertain Me JS start -->
<script src="app.js"></script>
<!-- Entertain Me JS end-->

</body>
</html>