/* ngCloak CSS: https://code.angularjs.org/1.5.11/docs/api/ng/directive/ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Loader inspired from: https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0ABF53;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Venue icon mobile support */
@media only screen and (max-width: 812px) {
    .venue-icon {
        max-width: 20px;
    }

    tbody {
        font-size: 10px;
    }
}

/* Added some color */
.autocomplete-focus-point {
    color: white;
    background: linear-gradient(45deg, #0ABF53 0%, #4EE5E5 100%);
}

.autocomplete-focus-point::placeholder {
    color: #ffffff8a;
}

.autocomplete-focus-point:focus {
    color: white;
    box-shadow: 0 0 0 0.2rem #99e6bb;;
}

.green-color {
    color: #0ABF53;
}

tr th:first-child, tr td:nth-child(3) {
    background: #f3f6f9;
    color: #0ABF53;
}

a .material-icons {
    color: #0ABF53;
}
