<div class="entertain-me-logo">
    <div class="row">
        <div class="col-lg-8">
            <svg xmlns="http://www.w3.org/2000/svg" width="485" height="90" style="vector-effect: non-scaling-stroke;"
                 stroke="null">
                <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
                <g stroke="null">
                    <title stroke="null">background</title>
                    <rect stroke="null" fill="#fff" id="canvas_background" height="92" width="487" y="-1" x="-1"/>
                    <g stroke="null" display="none" id="canvasGrid">
                        <rect stroke="null" fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%"
                              width="100%" id="svg_1"/>
                    </g>
                </g>
                <g stroke="null">
                    <title stroke="null">Layer 1</title>
                    <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="47" rx="68.5" id="svg_2"
                             cy="102.75" cx="71.250015" stroke-width="7" fill="#fff"/>
                    <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="68.000002" rx="89.5"
                             id="svg_3" cy="71.750005" cx="222.250015" stroke-width="5" fill="#fff"/>
                    <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="48.999999" rx="51.500001"
                             id="svg_4" cy="74.750002" cx="359.250016" stroke-width="7" fill="#fff"/>
                    <ellipse stroke="#000" style="vector-effect: non-scaling-stroke;" ry="32.999998" rx="37.000001"
                             id="svg_5" cy="81.75" cx="441.750017" stroke-width="10" fill="#fff"/>
                    <rect stroke="#ffffff" transform="rotate(2.1429860591888428 358.74996948242165,93.2500000000009) "
                          id="svg_7" height="51.993711" width="133.270464" y="67.253146" x="292.114773"
                          fill-opacity="null" stroke-width="1.5" fill="#fff"/>
                    <ellipse stroke="#05bf0a" ry="4" rx="4" id="svg_16" cy="67.75" cx="408.750015" fill-opacity="null"
                             stroke-width="4.5" fill="#fff"/>
                    <ellipse stroke="#05bf0a" style="vector-effect: non-scaling-stroke;" ry="4" rx="4" id="svg_17"
                             cy="61.75" cx="309.750015" fill-opacity="null" stroke-width="4.5" fill="#fff"/>
                    <line stroke="#ffffff" style="vector-effect: non-scaling-stroke;" stroke-linecap="null"
                          stroke-linejoin="null" id="svg_6" y2="89.017857" x2="484.499989" y1="89.017857" x1="-0.499999"
                          stroke-width="4.5" fill="none"/>
                    <ellipse stroke="#05bf0a" ry="4" rx="4" id="svg_13" cy="82.75" cx="134.750015" fill-opacity="null"
                             stroke-width="4.5" fill="#fff"/>
                    <ellipse stroke="#05bf0a" ry="4" rx="4" id="svg_15" cy="83.75" cx="478.750015" fill-opacity="null"
                             stroke-width="4.5" fill="#fff"/>
                    <ellipse stroke="#05bf0a" ry="4" rx="4" id="svg_9" cy="83.75" cx="7.750015" fill-opacity="null"
                             stroke-width="4.5" fill="#fff"/>
                </g>
            </svg>
        </div>
        <div class="col-lg-4 entertain-me-frog">
            <img src="app/favicon.png" alt="Frog">
        </div>
    </div>
    <div class="text-center"><h3 class="entertain-me-teaser m-0">Where will you jump next?</h3></div>
</div>