<div class="entertain-me-logo">
    <div class="row">
        <div class="col-lg-8">
            <svg width="484" height="84.3" xmlns="http://www.w3.org/2000/svg">
                <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
                <g>
                    <title>background</title>
                    <rect x="-1" y="-1" width="486" height="86" id="canvas_background" fill="#fff"/>
                    <g id="canvasGrid" display="none">
                        <rect id="svg_1" width="100%" height="100%" x="0" y="0" stroke-width="0"
                              fill="url(#gridpattern)"/>
                    </g>
                </g>
                <g>
                    <title>Layer 1</title>
                    <ellipse fill="#fff" stroke="#000" stroke-width="1.5" cx="71.250015" cy="99.75" id="svg_2" rx="68.5"
                             ry="47"/>
                    <ellipse fill="#fff" stroke-width="1.5" cx="222.250015" cy="68.750005" id="svg_3" rx="89.5"
                             ry="68.000002" stroke="#000"/>
                    <ellipse fill="#fff" stroke-width="1.5" cx="359.250016" cy="71.750002" id="svg_4" rx="51.500001"
                             ry="48.999999" stroke="#000"/>
                    <ellipse fill="#fff" stroke-width="1.5" cx="441.750017" cy="78.75" id="svg_5" rx="37.000001"
                             ry="32.999998" stroke="#000"/>
                    <rect fill="#fff" stroke-width="1.5" fill-opacity="null" x="292.114773" y="64.253146"
                          width="133.270464" height="51.993711" id="svg_7"
                          transform="rotate(2.1429860591888428 358.74996948242233,90.25000000000006) "
                          stroke="#ffffff"/>
                    <ellipse stroke="#05bf0a" fill="#fff" stroke-width="1.5" fill-opacity="null" cx="7.750015"
                             cy="79.75" id="svg_9" rx="4" ry="4"/>
                    <ellipse fill="#fff" stroke-width="1.5" fill-opacity="null" cx="133.750015" cy="79.75" id="svg_13"
                             rx="4" ry="4" stroke="#05bf0a"/>
                    <ellipse stroke="#05bf0a" fill="#fff" stroke-width="1.5" fill-opacity="null" cx="477.750015"
                             cy="79.75" id="svg_15" rx="4" ry="4"/>
                    <ellipse fill="#fff" stroke-width="1.5" fill-opacity="null" cx="409.750015" cy="64.75" id="svg_16"
                             rx="4" ry="4" stroke="#05bf0a"/>
                    <ellipse fill="#fff" stroke-width="1.5" fill-opacity="null" cx="309.750015" cy="58.75" id="svg_17"
                             rx="4" ry="4" stroke="#05bf0a"/>
                </g>
            </svg>
        </div>
        <div class="col-lg-4 entertain-me-frog">
            <img src="app/favicon.png" alt="Frog">
        </div>
    </div>
    <div class="text-center"><h3 class="entertain-me-teaser m-0">Where will you jump next?</h3></div>
</div>