<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Address</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-cloak ng-repeat="venue in venues">
        <th class="green-color" scope="row">{{$index + 1}}</th>
        <td>{{venue.name}}</td>
        <td>
            <span ng-repeat="category in venue.categories">
                <img class="venue-icon" alt="Category"
                     ng-src="{{category.icon.prefix + 'bg_32' + category.icon.suffix}}">
                <span>{{category.name}}</span>
            </span>
        </td>
        <td>{{venue.location.formattedAddress[0]}}</td>
    </tr>
    </tbody>
</table>
<div class="loader" ng-show="loading"></div>